.star-rating {
  display: flex;
  direction: row;
}

.star-rating button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

.star-rating .on {
  color: gold;
}

.star-rating .off {
  color: lightgray;
}
